
/* Image */

img {
  display: block;
  width: 100%;
}

.lazy {
  opacity: 0;
  transition: opacity 300ms;
}

.lazy.is-loaded {
  opacity: 1;
}

/* Utility */

.container {
    margin: 0 0 var(--navigation-height) 0;
}
